.login-form {
    display: flex;
    flex-direction: column;
    padding: 30px 20px;
}

.login-form-element{
    display: flex;
    flex-direction: column;
    max-width: 203px;
    margin-bottom: 20px;
}

.login-form_error_message {
    padding: 0  0 20px 0;
    color: red;
}

