.Item {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.Item-code {
  padding: 20px 10px 20px 20px;
}

.Item-title {
  width: 100%;
  padding: 20px 10px;
}

.Item-actions {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 25px;
  padding: 20px 20px 20px 10px;
  min-width: fit-content;
}

.Item-actions span {
  margin-left: 30px;
}

.Item-price {
  min-width: fit-content;
  margin-right: 20px;
}
