.commentNotAuth {
  margin-top: 25px;
  font-size: 16px;
  display: flex;
}

.commentNotAuth-link {
  color: blue;
}

.commentNotAuth-btn {
  cursor: pointer;
  border: none;
  background-color: transparent;
  text-decoration-line: underline;
}
