.modal-content {
  position: relative;
  width: 960px;
  min-height: 300px;
  background: #fff;
  border-radius: 10px;
}

.modal .Head {
  border-radius: 10px 10px 0;
  margin-bottom: 70px;
}

.modal-close {
  position: absolute;
  top: 30px;
  right: 25px;
}

.modal-result {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 53px;
  padding: 0 110px 30px;
  margin: 20px 0 0;
}

.modal-result span {
  font-weight: bold;
  font-size: 18px;
}

.modal-empty {
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-empty span {
  font-size: 18px;
}